/**
 * Admin area
 *
 */
.admin-dashboard {
  .data {
    a {
      h1 {
        line-height: 48px;
        font-size: 48px;
        padding: 20px;
        text-align: center;
        font-weight: normal;
      }
    }
  }

  .str-truncated {
    max-width: 60%;
  }
}

.admin-filter form {
  .select2-container {
    width: 100%
  }

  .controls {
    margin-left: 130px;
  }

  .form-actions {
    padding-left: 130px;
    background: #fff
   }

  .visibility-levels {
    .controls {
      margin-bottom: 9px;
    }

    i {
      color: inherit;
    }
  }
}

.broadcast-messages {
  .message {
    line-height: 2;
  }
}

.broadcast-message {
  @extend .alert-warning;
  padding: 10px;
  text-align: center;

  > div, p {
    display: inline;
    margin: 0;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.broadcast-message-preview {
  @extend .broadcast-message;
  margin-bottom: 20px;
}

.license-key-field {
  font-family: monospace;
}

// Users List

.users-list {
  .user-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .user-details {
    flex: 1 1 auto;
  }

  .user-name {
    display: inline-block;
    font-weight: 600;
  }

  .dropdown {
    .btn-block {
      margin-bottom: 0;
      line-height: inherit;
    }
  }

  .label-default {
    color: $btn-transparent-color;
  }
}

.abuse-reports {
  .table {
    table-layout: fixed;
  }
  .subheading {
    padding-bottom: $gl-padding;
  }
  .message {
    word-wrap: break-word;
  }
  .btn {
    white-space: normal;
    padding: $gl-btn-padding;
  }
  th {
    width: 15%;
    &.wide {
      width: 55%;
    }
  }
  @media (max-width: $screen-sm-max) {
    th {
      width: 100%;
    }
    td {
      width: 100%;
      float: left;
    }
  }

  .no-reports {
    .emoji-icon {
      margin-left: $btn-side-margin;
      margin-top: 3px;
    }
    span {
      font-size: 19px;
    }
  }
}
